body{
  background-color:#fcf8ec;
}
hr{
  border-style: dotted;
  width: 7%;
  border-width: 8px 0px 0px;
  border-color: #fd0303;
}
p{
    border: 3px;
    width: 50%;
    border-style: double;
    border-color: #ff02dd;
    font-family: cursive;
    font-size: 35px;
    overflow-wrap: break-word;
}
img{
  width: 80%;
}
h1, h3, h2{
    color: #f88f01;
}

div{
  background-color: #bbbfca;
  width: 50%;
}

#footer-link{
  background-color:#fcf8ec;
  font-size: larger;
}
