body{
  background-color:#fcf8ec;
}
hr{
  border-style: dotted;
  width: 7%;
  border-width: 8px 0px 0px;
  border-color: #fd0303;
}
p{
    border: 3px;
    width: 30%;
    border-style: double;
    border-color: #ff02dd;
    font-family: cursive;
    font-size: 35px;
    overflow-wrap: break-word;
}
img{
  width: 80%;
}
h1, h3{
    color: #f88f01;
}
